# .env.example
# Copia este archivo a .env y completa con tus datos reales
# NO SUBAS .env A GIT (está en .gitignore)

SUPABASE_URL=https://hqcwdrdcznzpjexivlsv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhxY3dkcmRjem56cGpleGl2bHN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3OTA3NjgsImV4cCI6MjA5NzM2Njc2OH0.Q7e53_I7lhyRHxuftUjSBzb7GNMeTFyL5iY0LuCk8gk
